{% extends 'base.html.twig' %}

{% block title %}Edit Task{% endblock %}

{% block content %}
    <h1>Modifier une tache</h1>
    <div class="card shadow-sm">
		<div class="card-body">
    {{ include('task/_form.html.twig', {'button_label': 'Enregistrer'}) }}

</div>
</div>
{% endblock %}