{% extends 'base.html.twig' %}

{% block title %}Edit Tag{% endblock %}

{% block content %}
    <h1>Modifier mon tag</h1>
 <div class="card shadow-sm">
		<div class="card-body">
    {{ include('tag/_form.html.twig', {'button_label': 'Enregistrer'}) }}

</div>
</div>
{% endblock %}
