{% extends 'base.html.twig' %}

{% block title %}New Tag
{% endblock %}

{% block content %}
	<h1>Créer un nouveau Tag</h1>
	<div class="card shadow-sm">
		<div class="card-body">
			{{ include('tag/_form.html.twig') }}
		</div>
	</div>

{% endblock %}
 